

body
{
  margin: 0px;
  background-color: rgb(160, 230, 245);
}
hr
{
  margin-top: 150px;
  margin-bottom: 150px;
}

.header
{
  height: 10vh;
  width: 100%;
  background-color: rgb(239, 239, 245, .7) ;
  position: fixed;
  top: 0px;
  z-index: 1000;
}
.header h1
{
    width: 50%;
    margin: 0px;
    left: 5%;
    top: 25%;
    position: relative;
    color: white;
    font-family: 'Bellota';
}

.parallax
{
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 80vh;
  background-image: url("../img/travel.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: top center;
}

.parallax h2
{
  margin: auto;
  padding-top: 15%;
  text-align: center;
  font-family: 'Bellota';
  font-size: 75px;
  color: white;
}


footer
{
  height: 10vh;
  width: 100%;
  background-color: rgb(239, 239, 245, .7);
  position: absolute;
}

.contact
{
  margin: auto;
  text-align: center;
  padding-top: 2%;
  font-family: 'Bellota';
  font-size: 20px;
  color: rgb(46, 195, 242);
}


.gridImages
{
  width: 80%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 50px;
}
.gridImages div img
{
  width: 100%;
}
.titleBox
{
  margin: 0;
  padding: 30px;
  background-color: rgb(209, 237, 247);
  font-size: 20px;
  font-family: 'Bellota';
  color: rgb(143, 145, 143);
}

.topTenTitle
{
  margin: auto;
  text-align: center;
  font-family: 'Bellota';
  font-size: 20px;
  color: white;
}

.tips
{
  margin: auto;
  text-align: left;
  font-family: 'Bellota';
  font-size: 18px;
  color: rgb(46, 195, 242);
}

.stays
{
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  padding: 25px;
  background-color: rgb(242, 251, 250, .7);
}

.flights
{
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  padding: 25px;
  background-color: rgb(242, 251, 250, .7);
}

.packing
{
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  padding: 25px;
  background-color: rgb(242, 251, 250, .7);
}

.videos
{
  width: 80%;
  height: 90vh;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.thankYou
{
  font-size: 50px;
  font-family: 'Bellota';
  text-align: center;
  color: white;
}
